.navbar1{
  background: linear-gradient(to bottom, #2c3e50, rgb(0, 0, 16));
  width: 100%;
  height: 150px;
  color: white;
  display: flex;
  justify-content: center;
}

.App{
  width: 100%;
  /* height: 150vh; */
  background-color: rgb(0, 0, 16);
}

.navbar-elements{
  margin-top: 5px;
}

.btn-navbar{
  background-color: transparent;
  border: transparent;
  color: white;
  font-size: larger;
  margin-left: 20px;
}

.btn-navbar:hover{
  font-size: x-large;
  cursor: pointer;
  transition: 0.5s;
  /* color: #34495e; */
}

.body{
  width: 100%;
  min-height: 250vh;
  /* min-height: 800vh;
  height: auto; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

label{
  margin-left: 5%;
}

.register-form{
  margin-left: 37%;
  margin-top: 5%;
  width: 400px;
  height: 600px;
  background-color: #2c3e50;
  border-radius: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form{
  width: 400px;
  height: 550px;
  background-color: #2c3e50;
  border-radius: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form{
  margin-left: 39%;
  margin-top: 5%;
  width: 350px;
  height: 300px;
  background-color: #2c3e50;
  border-radius: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-input {
  width: 80%;
  height: 30px;
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #34495e;
  color: #fff;
  background-color: #2c3e50;
}

.btn-login{
  background-color: #34495e;
  border: none;
  border-radius: 20px;
  color: #fff;
  width: 100px;
  height: 40px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.btn-login:hover{
  background-color: #2c3e50;
}

select {
  width: 200px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #2c3e50;
  color: #fff;
  transition: background-color 0.3s ease;
}

select:hover,
select:focus {
  background-color: #34495e;
  outline: none;
  cursor: pointer;
}
/* 
.movies-page{
  margin-left: 22%;
} */

.movie{
  /* margin-left: 20%; */
  display: flex;
  width: 800px;
  height: 100px;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border: #2c3e50 solid 1px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.movie:hover{
  background-color: #12181f;
  transition: 0.5s;
  box-shadow: 0 0 15px #2c3e50;
  cursor: pointer;
}

.movie-details{
  margin-left: 7%;
}

.actor-details{
  width: 1000px;
  height: 600px;
  display: flex;
  margin-left: 8%;
}

.actor{
  display: flex;
  width: 800px;
  height: 100px;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border: #2c3e50 solid 1px;
  border-radius: 20px;
}

.actor:hover{
  background-color: #12181f;
  transition: 0.5s;
  box-shadow: 0 0 15px #2c3e50;
  cursor: pointer;
}

.circle-actor{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.circle-actor:hover{
  width: 120px;
  height: 120px;
  transition: 0.5s;
  cursor: pointer;
}

.actors{
  width: 500px;
  height: 100px;
  display: flex;
  margin-top: 20px;
}

.actor-movie{
  width: 200px;
  height: 150px;
}


.actor-name{
  width: 150px;
}

.backdrop{
  width: 1280px;
  height: 500px;
  background-size: cover;
  /* background-position: center; */
}

.actors-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin-left: 160px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  display: inline-block;
  padding: 8px 12px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  color: #0a7af3;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-button:hover {
  background-color: #12181f;
}

.pagination-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination-button.active {
  background-color: #333;
  color: #fff;
}

/* .actors-page{
  width: 800px;
  height: 500px;
  display: flex;
} */


.profile{
  width: 400px;
  height: 600px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.movie-box{
  display: flex;
  width: 200px;
  height: 100px;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border: #2c3e50 solid 1px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  color: white;
}

.movie-box:hover{
  background-color: #12181f;
  transition: 0.5s;
  box-shadow: 0 0 15px #2c3e50;
  cursor: pointer;
}

.movies-reviews-bar{
  width: 800px;
  height: 200px;
  padding-top: 50px;
  /* padding-left: 20%; */
  display: flex;
}

.single-review{
  width: 800px;
  height: 150px;
  background-color: #12181f;
  border-radius: 20px;
  box-shadow: 0px 0px 6px #2c3e50;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.single-review:hover{
  background-color: #12181f;
  transition: 0.5s;
  box-shadow: 0 0 15px #2c3e50;
  /* cursor: pointer; */
}

.review-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  color: #5a7795;
}

.author {
  margin-right: 10px;
  color: #0a7af3;
}

.author:hover{
  cursor: pointer;
  color: #287dd8;
  transition: 0.5s;
}

.review-content {
  flex-grow: 1;
  margin-right: 10px;
  color: #5a7795;
}

.rating {
  margin-top: 10px;
  padding-left: 10px;
  color: #8e3c3c;
}

.all-reviews{
  width: 500px;
  display: flex;
}

.delete-btn{
  width: 200px;
  margin-left: 150px;
  background-color: transparent;
  border-color: transparent;
  color: #8e3c3c;
}

.delete-btn:hover{
  font-size: large;
  color: #e80808;
  transition: 0.5s;
}

.movie-btn{
  width: 200px;
  margin-left: 150px;
  background-color: transparent;
  border-color: transparent;
  color: #5a7795;
  font-size: larger;
}

.movie-btn:hover{
  font-size: x-large;
  color: #287dd8;
  transition: 0.5s;
}

.add-review{
  width: 300px;
  height: 300px;
  margin-top: 8%;
  margin-left: 38%;
  background-color: #2c3e50;
  border-radius: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details {
  width: 1280px;
  display: flex;
  flex-wrap: wrap; /* Allow the boxes to wrap onto a new line */
  justify-content: space-between; /* Distribute the boxes evenly */
  margin-top: 50px;
  margin-bottom: 50px;
  color: #5a7795;
}

.details-box {
  width: 380px; /* Adjusted width to fit three boxes in a row */
  height: 80px;
  border-left: 1px solid #2c3e50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  margin-bottom: 20px; /* Add spacing between the rows */
}

.details-box:hover {
  background-color: #2c3e50;
  transition: 0.5s;
}


.genre:hover{
  cursor: pointer;
  color: #0a7af3;
  transition: 0.5s;
}

.movie-poster {
  background-image: url(https://image.tmdb.org/t/p/w185/${movie.poster_path});
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 185px;
  height: 278px; /* Adjust the height to match the aspect ratio of the image */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-left: 7px;
  margin-right: 7px;
}

.movie-poster:hover{
  cursor: pointer;
  box-shadow: 0 0 25px #2c3e50;
}

.movies-page{
  margin-left: 20%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 1000px;
  /* justify-content: space-between; */
}

.single-review {
  position: relative;
}

.delete-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

.movie-poster-delete {
  background-image: url(https://image.tmdb.org/t/p/w185/${movie.poster_path});
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 185px;
  height: 278px; /* Adjust the height to match the aspect ratio of the image */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.movie-poster-delete:hover{
  cursor: pointer;
  box-shadow: 0 0 25px #f30000;
}

.box-actor {
  width: 150px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.box-actor:hover{
  cursor: pointer;
}

.review-buttons {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: 0 auto;
}

.review-btn-left {
  width: 140px;
  background-color: transparent;
  border-color: transparent;
  color: #5a7795;
  font-size: larger;
}

.review-btn-right {
  width: 200px;
  background-color: transparent;
  border-color: transparent;
  color: #5a7795;
  font-size: larger;
  margin-left: 460px;
}

.review-btn-left:hover{
  color: #0a7af3;
}
.review-btn-right:hover {
  color: #d32f2f;
}





