.navbar1{
  background: linear-gradient(to bottom, #2c3e50, rgb(0, 0, 16));
  width: 100%;
  height: 150px;
  color: white;
  display: flex;
  justify-content: center;
}

.App{
  width: 100%;
  /* height: 150vh; */
  background-color: rgb(0, 0, 16);
}

.navbar-elements{
  margin-top: 5px;
}

.btn-navbar{
  background-color: transparent;
  border: transparent;
  color: white;
  font-size: larger;
  margin-left: 20px;
}

.btn-navbar:hover{
  font-size: x-large;
  cursor: pointer;
  transition: 0.5s;
  /* color: #34495e; */
}

.body{
  width: 100%;
  min-height: 100vh;
  /* min-height: 800vh;
  height: auto; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

label{
  margin-left: 5%;
}

.register-form{
  margin-left: 37%;
  margin-top: 5%;
  width: 400px;
  height: 600px;
  background-color: #2c3e50;
  border-radius: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form{
  width: 400px;
  height: 550px;
  background-color: #2c3e50;
  border-radius: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form{
  margin-left: 39%;
  margin-top: 5%;
  width: 350px;
  height: 300px;
  background-color: #2c3e50;
  border-radius: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-input {
  width: 80%;
  height: 30px;
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #34495e;
  color: #fff;
  background-color: #2c3e50;
}

.btn-login{
  background-color: #34495e;
  border: none;
  border-radius: 20px;
  color: #fff;
  width: 100px;
  height: 40px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.btn-login:hover{
  background-color: #2c3e50;
}

select {
  width: 200px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #2c3e50;
  color: #fff;
  transition: background-color 0.3s ease;
}

select:hover,
select:focus {
  background-color: #34495e;
  outline: none;
  cursor: pointer;
}

.movies-page{
  margin-left: 22%;
}

.movie{
  /* margin-left: 20%; */
  display: flex;
  width: 800px;
  height: 100px;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border: #2c3e50 solid 1px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.movie:hover{
  background-color: #12181f;
  transition: 0.5s;
  box-shadow: 0 0 15px #2c3e50;
  cursor: pointer;
}

.movie-details{
  margin-left: 7%;
}

.actor-details{
  width: 1000px;
  height: 600px;
  display: flex;
  margin-left: 8%;
}

.actor{
  display: flex;
  width: 800px;
  height: 100px;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border: #2c3e50 solid 1px;
  border-radius: 20px;
}

.actor:hover{
  background-color: #12181f;
  transition: 0.5s;
  box-shadow: 0 0 15px #2c3e50;
  cursor: pointer;
}

.circle-actor{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.circle-actor:hover{
  width: 120px;
  height: 120px;
  transition: 0.5s;
  cursor: pointer;
}

.actors{
  width: 500px;
  height: 100px;
  display: flex;
  margin-top: 20px;
}

.actor-movie{
  width: 200px;
  height: 150px;
}


.actor-name{
  width: 150px;
}

.backdrop{
  width: 1280px;
  height: 500px;
  background-size: cover;
  /* background-position: center; */
}

.actors-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin-left: 160px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 800px;
  margin-left: 20px;
}

.pagination-button {
  padding: 8px 16px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* .actors-page{
  width: 800px;
  height: 500px;
  display: flex;
} */


.profile{
  width: 400px;
  height: 600px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.movie-box{
  display: flex;
  width: 200px;
  height: 100px;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border: #2c3e50 solid 1px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  color: white;
}

.movie-box:hover{
  background-color: #12181f;
  transition: 0.5s;
  box-shadow: 0 0 15px #2c3e50;
  cursor: pointer;
}

.movies-reviews{
  width: 400px;
  height: 200px;
  padding-top: 50px;
  padding-left: 20%;
}

.single-review{
  width: 680px;
  height: 80px;
  background-color: #12181f;
  border-radius: 20px;
  box-shadow: 0px 0px 6px #2c3e50;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.single-review:hover{
  background-color: #12181f;
  transition: 0.5s;
  box-shadow: 0 0 15px #2c3e50;
  /* cursor: pointer; */
}

.review-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  color: #5a7795;
}

.author {
  margin-right: 10px;
}

.author:hover{
  cursor: pointer;
  color: #287dd8;
  transition: 0.5s;
}

.review-content {
  flex-grow: 1;
  margin-right: 10px;
  color: #5a7795;
}

.rating {
  margin-top: 10px;
  padding-left: 10px;
  color: #8e3c3c;
}

.all-reviews{
  width: 500px;
  display: flex;
}

.delete-btn{
  width: 200px;
  margin-left: 150px;
  background-color: transparent;
  border-color: transparent;
  color: #8e3c3c;
}

.delete-btn:hover{
  font-size: large;
  color: #e80808;
  transition: 0.5s;
}

.movie-btn{
  width: 200px;
  margin-left: 150px;
  background-color: transparent;
  border-color: transparent;
  color: #5a7795;
  font-size: larger;
}

.movie-btn:hover{
  font-size: x-large;
  color: #287dd8;
  transition: 0.5s;
}

.add-review{
  width: 300px;
  height: 300px;
  margin-top: 8%;
  margin-left: 40%;
  background-color: #2c3e50;
  border-radius: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details{
  width: 1280px;
  display: flex;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #5a7795;
}

.details-box{
  width: 680px;
  height: 80px;
  /* background-color: #12181f; */
  /* border-radius: 20px; */
  /* box-shadow: 0px 0px 6px #2c3e50; */
  border-left: 1px solid #2c3e50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding-left: 20px;
}

.details-box:hover{
  background-color: #2c3e50;
  transition: 0.5s;
}

.genre:hover{
  cursor: pointer;
  color: #0a7af3;
  transition: 0.5s;
}